---
import { site } from '../../config/site';
---

<footer class="py-8 bg-surface">
  <div class="container flex items-center justify-between mx-auto">
    <p class="text-text">&copy; 2025 {site.title}</p>
    <ul class="flex gap-4">
      {site.social.map((item) => (
        <li>
          <a href={item.href} class="text-text hover:text-primary">
            {item.name}
          </a>
        </li>
      ))}
    </ul>
  </div>
</footer>
