---
import { site } from '../../config/site';
---

<nav>
  <div class="container flex items-center justify-between mx-auto">
    <a href="/" class="text-2xl font-bold text-headings">{site.title}</a>
    <ul class="flex gap-4">
      {site.navigation.map((item) => (
        <li>
          <a href={item.href} class="text-text hover:text-primary">
            {item.name}
          </a>
        </li>
      ))}
    </ul>
  </div>
</nav>
